@import url('https://fonts.googleapis.com/css2?family=Mingzat&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Mingzat&family=Parisienne&display=swap');

.yellow{
font-size: 35px;
color:rgb(244, 245, 233);
margin-right: 55px;
margin-left: 5px;
}

.shoppingCar {
    color: cornflowerblue;
    font-size: 35px;
}

.purple{
font-size: 80px;
color: purple
}

.logo_main {
    padding: 5px 5px 3px 10px;
    margin:5px 5px 3px 30px; 
    width:135px;
    height:75px;
}
.triangle {
    font-size: 35px;
    color: white;
    margin-right: 5px;
    margin-left: 50px;
    color:crimson;
}

.colorNav {
      background-color: '#fcba03';
      color:blue;
      font-size: 17px;
      font-family: 'Arima', cursive;     
   
     
 }
