@import url('https://fonts.googleapis.com/css2?family=Mingzat&family=Parisienne&display=swap');


.yellow{
font-size: 35px;
color:rgb(244, 245, 233);
margin-right: 55px;
margin-left: 5px;
}

.shoppingCar {
    color: rgb(10, 231, 168);
    font-size: 10px;
    margin-left: 15px;
}

.purple{
font-size: 80px;
color: purple !important;
}

.logo_main {
    padding: 5px 5px 3px 10px;
    margin:5px 5px 3px 30px; 
    width:135px;
    height:75px;
}
.triangle {
    font-size: 35px;
    color: white;
    margin-right: 5px;
    margin-left: 50px;
    padding: 5px 5px;
    color:crimson;
    border-radius: 10px;
    
}

.colorNav {
      font-size: 21px;
      font-family: 'Mingzat', sans-serif;
      font-weight: 700;      
      color: #2699FB !important;
 }
